<h1>Welcome to the database</h1>
<h2>Please choose your option</h2>
<nav>
    <a href="http://localhost:7000/user">User</a>
    <a href="http://localhost:7000/product">Products</a>
    <a href="http://localhost:7000/category">Category</a>
    <a href="http://localhost:7000/order">Orders</a>
</nav>

